<!DOCTYPE html>
<html>
<head>
    <title>etc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="index-container">
        
        <div class="game-section">
            <h2>etc</h2>
            <a href="/champion-4d-viz" class="index-link">Champion 4D Analysis</a>
        </div>
        
        <div class="navigation">
            <a href="/" class="index-link">メインページに戻る</a>
        </div>
    </div>
</body>
<footer>
    <p>&copy; 2024 LoL Item Quiz. All rights reserved.</p>
</footer>
</html>